# ----------------------------------------------------------------------------
# Storgage Class Configuration
# ----------------------------------------------------------------------------

global:
  storageClass: standard-rwo

# ----------------------------------------------------------------------------
# Resource Allocations
# ----------------------------------------------------------------------------
clickhouse:
  installCustomStorageClass: true
  resources:
    requests:
      cpu: 4
      memory: 8Gi
    limits:
      cpu: 4
      memory: 8Gi
  zookeeper:
    resources:
      requests:
        cpu: 2
        memory: 2Gi
      limits:
        cpu: 2
        memory: 2Gi
  profiles:
    default:
      max_memory_usage: 4050539136 # 3.77 GiB

otelCollector:
  resources:
    requests:
      cpu: 2
      memory: 2Gi
    limits:
      cpu: 2
      memory: 2Gi

signoz:
  resources:
    requests:
      cpu: 1
      memory: 1Gi
    limits:
      cpu: 1
      memory: 1Gi

# ----------------------------------------------------------------------------
# Configuration for GCP Pub/Sub Receiver and OTLP Exporter
# ----------------------------------------------------------------------------
otelCollector:
  config:
    receivers:
      googlecloudpubsub:
        project: ali-hassan-devops-playground
        subscription: projects/ali-hassan-devops-playground/subscriptions/signoz-test-python-sub
        encoding: raw_text
      otlp:
        protocols:
          http:
            cors:
              allowed_origins:
                - "*.everphone.app"
                - "*.everphone.dev"
                - "*.run.app"
    exporters:
      otlp:
        endpoint: signoz-ingest.everphone.dev:4317 # Use this for otel collector public endpoint connected to load balancer
        # endpoint: signoz-otel-collector:4317 # Use this for otel collector public endpoint connected to load balancer (IP based)
        tls:
          insecure: false

    service:
      pipelines:
        logs:
          receivers:
            - googlecloudpubsub
          processors:
            - batch
          exporters:
            - otlp


# ----------------------------------------------------------------------------
# Service Account Annotations for GKE Workload Identity
# ----------------------------------------------------------------------------
otelCollector:
  serviceAccount:
    create: true
    name: signoz-otel-collector
    annotations:
      iam.gke.io/gcp-service-account: signoz-sa@ali-hassan-devops-playground.iam.gserviceaccount.com

otelCollectorAgent:
  serviceAccount:
    create: true
    name: signoz-otel-collector-agent
    annotations:
      iam.gke.io/gcp-service-account: signoz-sa@ali-hassan-devops-playground.iam.gserviceaccount.com
